body {
	background-color:#ffffff;
    color:#444444;
}

/*a:link, a:visited, h2:first-letter {
	color:#990000;
}*/

.main_container {
    width:960px;
    border:1px Solid #000000;
    background-color:#ffffff;
    box-shadow:0px 15px 45px #000000;
    -moz-box-shadow:0px 15px 45px #000000;
    -webkit-box-shadow:0px 15px 45px #000000;
}


.interior_page #topmenu_pad{
    position:relative;
	overflow:hidden;
	height:250px;
}

.interior_page #topmenu_pad .menu{
    margin-top:-292px;
}

.not_interior_page .content_pad{
   padding-top:0;
}

.content_wrap, .content_wrap_noleft, .content_wrap_noright, .content_wrap_noleft_noright, .column_left, .column_right {
	
}

.column_left {
	width:170px;
}

.column_right {
	width:0px;
}


.content_wrap, .content_wrap_noright, .content_wrap_noleft, .content_wrap_noleft_noright {
	width:880px;
}

h1 {
	color:#000000;
}

h2 {
	color:#777777;
}

.footer_content {
	width:960px;
    margin:0 auto;
}

.footer_content .module_padding {
	width:172px;
}

.footer_content ul.menu a:hover {
	border-bottom:1px dotted #000000;
}

.flashes_copyright, .flashes_copyright a, .footer_content ul.menu a {
	color:#000000 !important;
}

/* flashes menu */

#topmenu_pad {
    font-style: normal;
    font-weight: normal;
    text-transform:uppercase;
    letter-spacing: normal;
    line-height: 1.45em;
    position:relative;
    margin:2px auto;
    height:542px;
    width:960px;
    background-position:0 0;
    background-repeat:no-repeat;
    background-color:transparent;
}

#flashes.menu {
    list-style:none;
    width:960px;
	margin: 0;
    padding: 0;
}

#flashes.menu > li {
    float:left;
    height:542px;
    border-right:1px solid #ccc;
    background-repeat:no-repeat;
    background-color:transparent;
}

#flashes.menu > li.last{
    border:none;
}

#flashes.menu > li > a {
    float:left;
    height:50px;
    margin-top:450px;
    text-align:center;
    line-height:50px;
    color:#dddddd;
    background-color:#333333;
    letter-spacing:1px;
    cursor:pointer;
    text-decoration:none;
    text-shadow:0px 0px 1px #fff;
	font-size: 14px;
}

#flashes.menu > li > a:hover {
    color:#ffffff;
	background-color:#000000;
}

#flashes.menu > li > ul {
    list-style:none;
    float:left;
    margin:0;
    margin-top:-180px; /* default will be overided in js */
    width:100%;
    height:110px; /* default will be overided in js */
    padding:20px 0 0 0;
    background-repeat:repeat-y;
    background-color:transparent;
	
}
#flashes.menu > li > ul > li {
    display:none;
}

#flashes.menu > li > ul > li > a {
    color:#ffffff;
    text-decoration:none;
    line-height:20px;
    margin-left:20px;
    text-shadow:1px 1px 1px #000000;
    font-size:12px;
    font-weight:bold;
}

#flashes.menu > li > ul > li {
    display:block;
}

#flashes.menu > li > ul > li > a:hover {
    border-bottom:1px dotted #ffffff;
    color:#ffffff;
}

#flashes.menu > li > ul > li  ul,
#flashes.menu .balloonedLevel {
    display:none;
	list-style:none;
}

.balloonedLevel {
  padding: 10px 25px;
  margin:0;
}

.balloonedLevel,
#tiptip_content ul {
  list-style:none;
}

.balloonedLevel a,
.balloonedLevel a span,
#flashes.menu > li > ul > li  ul a,
#flashes.menu > li > ul > li  ul a span {
   font-size:12px;
   color:#dddddd;
   text-decoration:none;
   line-height:20px;
}

.balloonedLevel a:hover {
  color: #ffffff;
}
