{% include header.html %}

	<span style="font-size: 24px;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="color: rgb(0, 128, 0);"><font class="Apple-style-span"><span class="Apple-style-span" style="line-height: 28px;">Our Clients</span></font></span></strong></span></span></p>
<table border="0" cellpadding="1" cellspacing="1" style="font-family: 'Times New Roman'; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; width: 600px;">
	<tbody>
		<tr>
			<td>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">Our clients include multinational and Fortune 500 companies and just to name a few &nbsp;</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; UBS AG</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bank of America Merrill Lynch</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BNP Paribas</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HSBC Bank</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Citibank</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Singapore Airlines</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DHL Singapore</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wearnes Automotive</span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Standard Chartered Bank&nbsp;</span></p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<img alt="" src="/img/bottom5.jpg" style="width: 600px; height: 149px;" /></p>
{% include footer.html %}
